<div class="movie">
    <h1>Deixe sua opinião sobre Movie:</h1>
    <div class="movie-form">
        <form method="post" action="/add" class="movie-form" enctype="multipart/form-data">
            <label>Nome do Movie:</label>
            <input type="text" name="movieName">
            <label>Data de lançamento:</label>
            <input type="text" name="movieDate">
            <label>Poster do Movie:</label>
            <input type="file" name="movieImage">   
            <label>Comente o que achou do Movie:</label>
            <textarea name="movieComment" rows="5" cols="33"></textarea>     
            <input type="submit" value="COMENTAR" id="btn">        
        </form>        
    </div>   
</div>
